.header {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 50px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.logo img {
    height: 40px;
}

.search-bar {
    display: flex;
    align-items: center; 
    flex: 1;
    max-width: 400px;
    margin: 0 20px;
}

.search-bar input {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-size: 1rem;
    height: 18px; 
}

.search-bar .search-button {
    padding: 0 15px; 
    height: 40px;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 0 20px 20px 0;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.search-bar .search-button:hover {
    background-color:  #333;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

.nav-button, .add-button {
    text-decoration: none;

    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #f8f9fa;
    color: #333;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.add-button {
    background-color: #333;
    color: #fff;
}

.nav-button:hover {
    background-color: #333;
    color: #fff;
}

.add-button:hover {
    background-color: #333;
}
