.footerContainer {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px 20px;
    font-family: 'Roboto', Arial, sans-serif;
    border-top: 1px solid #444;
}

.footerSection {
    flex: 1;
    margin: 0 10px;
    text-align: left;
}

.footerSection h2 {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
    padding-bottom: 15px;
}

.footerSection h2::after {
    content: '';
    display: block;
    width: 80%;
    height: 2px;
    background-color: #888; 
    margin-top: 8px;
}

.footerLinks {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footerLinks li {
    margin-bottom: 10px;
}

.footerLinks p {
    color: #ccc;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.footerLinks p:hover {
    color: #fff;
    text-shadow: 0px 0px 5px #007bff;
}

.footerSection h4 {
    font-size: 1rem;
    font-weight: 300; 
    margin-bottom: 10px;
}

.questions p {
    font-size: 1rem;
    margin-top: 10px;
    line-height: 1.5;
}

.questions p {
    color: #ccc;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .footerContainer {
        flex-direction: column;
        text-align: center;
    }

    .footerSection {
        margin-bottom: 20px;
    }
}
