.App {
  text-align: center;
}



/* src/App.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%; /* Ensure the body takes full height */
}

.App {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  min-height: 100vh; /* Make the App take at least the full height of the viewport */
}

main {
  flex: 1; /* Allow main content to grow and take up space */
  padding: 20px; /* Padding for the main content */
  margin-bottom: 80px; /* Space for the footer height */
}

footer {
  position: fixed; /* Fix the footer to the bottom */
  left: 0; /* Align to the left edge */
  bottom: 0; /* Align to the bottom edge */
  right: 0; /* Align to the right edge */
  background: #f1f1f1; /* Background color for the footer */
  padding: px; /* Padding for the footer */
  text-align: center; /* Center align text in the footer */
  height: 100px; /* Set a fixed height for the footer */
  
}
