# Node modules
node_modules
npm-debug.log
yarn-error.log

# Logs
logs
*.log
*.log.*

# Dependency directories
jspm_packages

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Coverage directory used by tools like istanbul
coverage

# Build directories
build
dist

# Environment variables
.env

# Miscellaneous
.DS_Store
*.swp